
        ANLEITUGEN:
        
        
        1. Einloggen
        Um dich einzuloggen, brauchst du ein Passwort und Benutzername.
        ==> Falls du eines davon nicht kennst, frag Henrik oder Mika :)
        
        1. Gib deinen Benutzername und das Passwort ein
        2. Drücke ENTER
        Du solltest jetz auf die Webside von deinem Shop kommen, wenn nicht frag einen von uns :)
        
        
        
        
        2. SHOP WEBSIDE
        
        1. ALGEMEINES
        
        Über diese Webside kann man Produkte an eine Kundennummer "senden".
        Dabei wird das ausgewählte Produkt an die List des Kunden angehängt.
        Dabei werden alle Produkte von allen Shops an der Kasse für die angegebene Kundennummer zusammengerechnet
        
        
        
        2. Produkte an Kundennummer "senden"
        
        Um ein Produkt an eine Kundennummer zu "senden", musst du ersteinmal eine Kundennummer eingeben.
        Wenn du jetzt ein Produkt wählst, wird es an diese Nummer gesendet.
        An der kasse ist dann eine Liste mit allem was die Kundennr gekauft hat.
        
        <h4>WICHIG ==> WENN DU EIN PRODUKT KAUFST, WIR DIE KUNDENNUMMER ZURÜCKGESETZT!!!</h4>
        
        
        
        3. Produkte und deren Preis bearbeiten
        
        Um den Namen oder den Preis von einem Produkt zu ändern, 
        musst du nur auf das kleine Zahnrad drücken und im untern Teil der Webside die einstellungen ändern :)
        
        
        
        
        KASSE BEDIENEN
        
        Die Kasse ist sehr simpel zu bedienen, da es nur 2 wichtige Teile gibt.
        
        1. An der Seite siehst du immer alle Bestellungen. Jeder Balken steht für eine Kundennummer.
        Nachdem der Kunde bezahlt hat, drückst du einfach auf das kleine Kästchen an der ganz linken Seite der Bestellung und diese wird von der Liste gelöscht.
        
        2. Oben Rechts siehst du wieviel Geld schon eingenommen wurde. Sobald eine Bestellung reinkommt, erhät sich dieser Wert um den Wert des Produktes.
        
        
        
        

