{% load static %}

<link rel="stylesheet" href="{% static 'css/syshelp.css' %}">
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANLEITUNG</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><button class="nav-button" data-href="/login">Login</button></li>
                <li><button class="nav-button" data-href="/!">Produktliste</button></li>
                <li><button class="nav-button" data-href="/AGB">AGBs</button></li>
                <li><button class="nav-button" data-href="/info">Kundenseite</button></li>
                <li><button class="nav-button" data-href="/!sys">Hilfe</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>ANLEITUNG</h1>
        <section id="login">
            <h2>1. Einloggen</h2>
            <p>Um dich einzuloggen, brauchst du ein Passwort und Benutzername.</p>
            <p>Falls du eines davon nicht kennst, frag Henrik oder Mika :)</p>
            <ol>
                <li>Gib deinen Benutzername und das Passwort ein</li>
                <li>Drücke ENTER</li>
                <li>Du solltest jetzt auf die Webseite von deinem Shop kommen, wenn nicht frag einen von uns :)</li>
            </ol>
        </section>
        <section id="shop-webside">
            <h2>2. SHOP WEBSIDE</h2>
            <h3>1. ALLGEMEINES</h3>
            <p>Über diese Webseite kann man Produkte an eine Kundennummer "senden".</p>
            <p>Dabei wird das ausgewählte Produkt an die Liste des Kunden angehängt.</p>
            <p>Dabei werden alle Produkte von allen Shops an der Kasse für die angegebene Kundennummer zusammengezählt</p>
            <h3>2. Produkte an Kundennummer "senden"</h3>
            <p>Um ein Produkt an eine Kundennummer zu "senden", musst du erst einmal eine Kundennummer eingeben.</p>
            <p>Wenn du jetzt ein Produkt wählst, wird es an diese Nummer gesendet.</p>
            <p>An der Kasse ist dann eine Liste mit allem was die Kundennummer gekauft hat.</p>
            <h4>WICHTIG ==> WENN DU EIN PRODUKT KAUFST, WIR DIE KUNDENNUMMER ZURÜCKGESETZT!!!</h4>
            <h3>3. Produkte und deren Preis bearbeiten</h3>
            <p>Um den Namen oder den Preis von einem Produkt zu ändern, musst du nur auf das kleine Zahnrad drücken und im unteren Teil der Webseite die Einstellungen ändern :)</p>
        </section>
        <section id="kasse-bedienen">
            <h2>KASSE BEDIENEN</h2>
            <p>Die Kasse ist sehr einfach zu bedienen, da es nur 2 wichtige Teile gibt.</p>
            <h3>1. An der Seite siehst du immer alle Bestellungen.</h3>
            <p>Jeder Balken steht für eine Kundennummer.</p>
            <p>Nachdem der Kunde bezahlt hat, drückst du einfach auf das kleine Kästchen an der ganz linken Seite der Bestellung und diese wird von der Liste gelöscht.</p>
            <h3>2. Oben rechts siehst du wieviel Geld schon eingenommen wurde.</h3>
            <p>Sobald eine Bestellung reinkommt, erhöht sich dieser Wert um den Wert des Produktes.</p>
        </section>
    </main>
</body>
<script>
        const navButtons = document.querySelectorAll('.nav-button');
        navButtons.forEach(button => {
            button.addEventListener('click', () => {
                window.location.href = button.dataset.href;
            });
        });
    </script>
</html>