#Cassa {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(174, 183, 193);
}

#Body {
    background-color: rgb(68, 67, 67);
}

#eins {
    margin-top: 10px;
    width: 49%;
    height: 270px;
}


#header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.Products:hover {
    background-color: rgb(107, 161, 209);
}

.Products {
    background-color: rgb(174, 184, 193);
    margin-top: 10px;
    width: 49%;
    height: 270px;
}

